@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica:ital@0;1&family=Mirza:wght@400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: "IM Fell Double Pica", Mirza;
}

.navbar{
    background-color: #1F2937;
    color: #fff;
    display: flex;
    align-items: center;
    padding:10px 20px;
}

.logo{
    color:#F9FaF8;
    font-size: 24px;
    margin-right: auto;
    font-weight: bold;
}

.links a{
    text-decoration: none;
    color:#fff;
    padding:10px;
}

.links{
    padding:10px;
    margin:5px
}

.left{
    background-color: #1F2937;

}
.left h1{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.caption{
    font-size: 18px;
    color:#E5E7EB;
}

.left button{
    background-color:#3882F6;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    border:none;
    color: #fff;
}   